#etcdctl put /gateway/modules/xxxx '{"name":"xxxx","commandStart":7002,"commandEnd":7008,"type":1,"ip":"127.0.0.1","port":8080}'

# register a module
etcdctl put /gateway/modules/echo '{"name":"echo","commandStart":201,"commandEnd":220,"type":1,"ip":"127.0.0.1","port":9933}'

# deregister a module
etcdctl del /gateway/modules/xxxx